<div class="px-10 lg:px-20 py-5 ease-in-out duration-300">
  <p class="text-5xl font-bold">About Me</p>
  <p class="py-10 text-2xl font-semibold">Fang Wei Jie is a bachelor’s degree graduate in software engineering. He is energetic and eager to learn new tech stacks, curious about new emerging technologies, and is willing to jump out of his comfort zone and dive into new environments. Experience in working with Angular and Spring Boot, looking forward to expand career in front end development.</p>
</div>
