<div class="flex justify-center">
  <div class="px-auto h-auto w-full bg-white rounded-xl drop-shadow-lg ease-in-out duration-300">
    <div class="relative p-5 grid gap-2 z-10">
      <div class="flex flex-row gap-2 justify-between align-top">
        <div>
          <p class="text-xl font-semibold">
            <span>{{ experience.title }}</span>
          </p>
          <p class="text-md">{{ experience.duration }}</p>
        </div>
        <img class="h-10 aspect-auto"
             src="{{experience.companyLogo}}"
             alt="{{experience.company}} logo">
      </div>

      <ul class="px-5 list-disc">
        <li *ngFor="let paragraph of experience.description">{{ paragraph }}</li>
      </ul>
    </div>
  </div>
</div>
