<div class="flex justify-center h-full w-full">
  <div class="flex flex-col justify-between px-auto w-full bg-white rounded-xl drop-shadow-lg ease-in-out duration-300">
    <div class="flex flex-col p-5 grid gap-2">
      <p class="text-xl font-semibold">{{ project.name }}</p>
      <p class="text-lg">{{ project.description }}</p>
    </div>

    <div class="flex justify-between p-5">
      <a class="w-fit flex items-center gap-1 hover:font-semibold ease-in-out duration-300"
         [href]="project.link" target="_blank" *ngIf="project.link">
        {{ project.linkName ? project.linkName : 'Link' }}
        <span class="material-symbols-rounded">open_in_new</span>
      </a>

      <div class="flex flex-wrap gap-2" *ngIf="project.techStacks.length > 0">
        <img class="h-8 object-contain" [src]="stack.link" [alt]="stack.name" *ngFor="let stack of project.techStacks" />
      </div>
    </div>
  </div>
</div>
